@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

code {
  font-family: "Roboto", sans-serif;
}

.pdf-form {
  padding: 15;
  text-align: center;
  width: 50%;
}

@media (max-width: 600px) {
  .pdf-form {
    padding: 10;
    text-align: center;
    width: 100%;
  }
}
